<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.dao.inter.CpcAssociatedSuspectMapper">
  <resultMap id="BaseResultMap" type="com.xiao.dao.dto.CpcAssociatedSuspect">
    <!--@mbg.generated-->
    <!--@Table cpc_associated_suspect-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="associated_group_id" jdbcType="BIGINT" property="associatedGroupId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="suspect_id_number" jdbcType="VARCHAR" property="suspectIdNumber" />
    <result column="entity_picture" jdbcType="VARCHAR" property="entityPicture" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, associated_group_id, `name`, suspect_id_number, entity_picture, create_time, 
    update_time, create_user_id, update_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cpc_associated_suspect
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from cpc_associated_suspect
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.CpcAssociatedSuspect" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cpc_associated_suspect (associated_group_id, `name`, suspect_id_number, 
      entity_picture, create_time, update_time, 
      create_user_id, update_user_id)
    values (#{associatedGroupId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{suspectIdNumber,jdbcType=VARCHAR}, 
      #{entityPicture,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=BIGINT}, #{updateUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.CpcAssociatedSuspect" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cpc_associated_suspect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="associatedGroupId != null">
        associated_group_id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="suspectIdNumber != null and suspectIdNumber != ''">
        suspect_id_number,
      </if>
      <if test="entityPicture != null and entityPicture != ''">
        entity_picture,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="associatedGroupId != null">
        #{associatedGroupId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="suspectIdNumber != null and suspectIdNumber != ''">
        #{suspectIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="entityPicture != null and entityPicture != ''">
        #{entityPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiao.dao.dto.CpcAssociatedSuspect">
    <!--@mbg.generated-->
    update cpc_associated_suspect
    <set>
      <if test="associatedGroupId != null">
        associated_group_id = #{associatedGroupId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suspectIdNumber != null and suspectIdNumber != ''">
        suspect_id_number = #{suspectIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="entityPicture != null and entityPicture != ''">
        entity_picture = #{entityPicture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>